#termModal {
  position: absolute;
  z-index: 1;
  width: 1920px;
  height: 1080px;
  background: #666;
  opacity: 0.75;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#termModal .modal {
  background: #111;
  border-radius: 10px;
  width: 300px;
  height: 400px;
}
