#termModal {
  position: absolute;
  z-index: -10;
  width: 1920px;
  height: 1080px;
  background: #aaa;
  opacity: 0.5;
  align-items: center;
  text-align: center;
}

#termModal .modal {
  background: #333;
  border-radius: 10px;
}
